@model IEnumerable<EntityLayer.Concrete.Image>
@if (Model.Count() == 0)
{
    <br />
    <h4>Fotograf bulunamadı.</h4>
    <br />
}
else
{
    <section class="section section-sm section-top-0 section-fluid section-relative bg-gray-4">
        <div class="container-fluid">
            <h6 class="gallery-title">Gallery</h6>
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-classic owl-dots-secondary" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="3" data-xl-items="5" data-xxl-items="3" data-stage-padding="15" data-xxl-stage-padding="0" data-margin="30" data-autoplay="true" data-nav="true" data-dots="true">
                <!-- Thumbnail Classic-->
                @foreach (var x in Model)
                {

                    <article class="thumbnail thumbnail-mary">
                        <div class="thumbnail-mary-figure">
                            <img src="@x.ImageUrl" alt="" width="270" height="220" />
                        </div>
                        <div class="thumbnail-mary-caption">
                            <a class="icon fl-bigmug-line-zoom60" href="@x.ImageUrl" data-lightgallery="item"><img src="images/gallery-image-1-270x195.jpg" alt="" width="270" height="195" /></a>
                        </div>
                    </article>
                }
            </div>
        </div>
    </section>
}