@model IEnumerable<EntityLayer.Concrete.Place>
  <!--  Meet the Team -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href="~/css/MeetTheTeam.css" rel="stylesheet" />
<section class="section section-lg section-top-1 bg-gray-4">
    <br />
    <br />
    <div class="container bootdey">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h3>Meet The Team</h3>
                    <p class="text-muted para-desc mx-auto mb-0">Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            @foreach (var x in Model)
            {
<div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
    <div class="team text-center rounded p-3 py-4">
        <img src="@x.LocationUrl" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
        <div class="content mt-3">
            <h4 class="title mb-0">@x.PlaceName</h4>
            <small class="text-muted">Founder</small>
            <ul class="list-unstyled mt-3 social-icon social mb-0">
                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
            </ul><!--end icon-->
        </div>
    </div>
</div><!--end col-->}
        </div><!--end row-->
    </div>
</section>
