@model IEnumerable<EntityLayer.Concrete.Comment>
<link href="~/css/Comment.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="card">
    <div class="header">
        <h3 style="color:darkblue">Comments</h3>
    </div>
    <div class="body">
        @if (Model.Count() == 0)
        {
            <br />
            <h4>Yorum bulunamadı.</h4>
            <br />
        }
        else
        {
            @foreach (var x in Model)
            {
                <ul class="comment-reply list-unstyled">
                    <li class="row clearfix">
                        <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Awesome Image"></div>
                        <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                            <h5 class="m-b-0" style="float:left">@x.NameSurname</h5>
                            <p style="float:left">@x.CommentContent</p>
                        </div>
                    </li>
                </ul>
            }
        }
    </div>
</div>
