@model IEnumerable<EntityLayer.Concrete.Content>
@if (Model.Count() == 0)
{
    <br />
    <h4>İçerik bulunamadı.</h4>
    <br />
}
else
{
    @foreach (var x in Model)
    {
        <div class="article-content">
            <h4>@x.TextTitle</h4>
            <p>@x.Text</p>
            <br />
        </div>
    }
}