@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;

@model IPagedList<EntityLayer.Concrete.Country>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href="~/css/BlogList.css" rel="stylesheet" />
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Countries</title>
</head>
<body>
    <div class="page">
        <!-- Breadcrumbs -->
        <section class="breadcrumbs-custom-inset">
            <div class="breadcrumbs-custom context-dark bg-overlay-40">
                <div class="container">
                    <h2 class="breadcrumbs-custom-title">Countries</h2>
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="/Home/Index/">Home</a></li>
                        <li class="active">Countries</li>
                    </ul>
                </div>
                <div class="box-position" style="background-image: url(https://www.desktopbackground.org/download/o/2011/08/23/254359_ocean-views-wallpapers-wallpapers-cave_1920x1080_h.jpg);"></div>
            </div>
        </section>
        <section class="section section-lg section-top-0 bg-gray-4">
            <div class="container offset-negative-1">
                <div class="box-categories cta-box-wrap">
                    <div class="box-categories-content">
                        <div class="row justify-content-center">
                            @foreach (var item in Model)
                            {
                                <div class="col-xl-3 col-md-6 col-sm-6 wow fadeInDown col-9" data-wow-delay=".2s">
                                    <ul class="list-marked-2 box-categories-list">
                                        <li>
                                            <a href="/Place/ListAllPlaces/@item.CountryID"><img src="@item.ImageCountry" style=" display: inline-block; " alt="" width="368" height="300" /></a>
                                            <h5 class="box-categories-title">@item.CountryName</h5>
                                        </li>
                                    </ul>
                                    <br />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                     {
                              DisplayLinkToIndividualPages = true,
                              DisplayPageCountAndCurrentLocation = true,
                              LiElementClasses = new string[] { "page-item" },
                         PageClasses = new string[] { "page-link" },

      })
        </section>
      
    </div><!--end row-->
</body>
</html>